In [19]:
import pandas as pd

In [20]:
# Read data from given file name
def read_datasource(filename):
    src_data = pd.read_csv(filename)
    return src_data 
    
# Merging datasets
def data_merging(dt1, dt2):
    # Date conversion to common date format
    dt1['Data'] = pd.to_datetime(dt1['Data'])  # Assuming 'YYYY-MM-DD' format
    dt2['Date'] = pd.to_datetime(dt2['Date'], format='%m/%d/%y')  # Explicit format
    
    # Merge datasets on date
    merged_dataset = pd.merge(dt1, dt2, left_on='Data', right_on='Date', how='inner')

    return merged_dataset

In [21]:
# Files with data sources:
file_spx500 = 'spx500.csv'
file_yield_curve = 'yield-curve-rates.csv'

In [22]:
# loading files
dt_spx500 = read_datasource(file_spx500)
dt_yieldcrv = read_datasource(file_yield_curve)

In [23]:
# Display the first 3 rows
print("SPX500 Data:")
print(dt_spx500.head(5))

print("\nYield Curve Data:")
print(dt_yieldcrv.head(5))

SPX500 Data:
         Data  Otwarcie  Najwyzszy  Najnizszy  Zamkniecie      Wolumen
0  1990-01-02    353.40     359.69     351.98      359.69   90038889.0
1  1990-01-03    359.69     360.59     357.89      358.76  106850000.0
2  1990-01-04    358.76     358.76     352.89      355.67   98333333.0
3  1990-01-05    355.67     355.67     351.35      352.20   88072222.0
4  1990-01-08    352.20     354.24     350.54      353.79   77838889.0

Yield Curve Data:
       Date  1 Mo  2 Mo  3 Mo  4 Mo  6 Mo  1 Yr  2 Yr  3 Yr  5 Yr  7 Yr  \
0  12/31/24  4.40  4.39  4.37  4.32  4.24  4.16  4.25  4.27  4.38  4.48
1  12/30/24  4.43  4.42  4.37  4.33  4.25  4.17  4.24  4.29  4.37  4.46
2  12/27/24  4.44  4.43  4.31  4.35  4.29  4.20  4.31  4.36  4.45  4.53
3  12/26/24  4.45  4.45  4.35  4.37  4.31  4.23  4.30  4.35  4.42  4.49
4  12/24/24  4.44  4.44  4.40  4.38  4.30  4.24  4.29  4.36  4.43  4.52

   10 Yr  20 Yr  30 Yr
0   4.58   4.86   4.78
1   4.55   4.84   4.77
2   4.62   4.89   4.82
3   4.58   4.83   4.76
4   4.59   4.84   4.76

In [24]:
# merging datasets
ds_merged = data_merging(dt_spx500, dt_yieldcrv)

In [25]:
print("\nMerged dataset:")
print(ds_merged.head(10))

Merged dataset:
        Data  Otwarcie  Najwyzszy  Najnizszy  Zamkniecie      Wolumen  \
0 1990-01-02    353.40     359.69     351.98      359.69   90038889.0
1 1990-01-03    359.69     360.59     357.89      358.76  106850000.0
2 1990-01-04    358.76     358.76     352.89      355.67   98333333.0
3 1990-01-05    355.67     355.67     351.35      352.20   88072222.0
4 1990-01-08    352.20     354.24     350.54      353.79   77838889.0
5 1990-01-09    353.83     354.17     349.61      349.62   86227778.0
6 1990-01-10    349.62     349.62     344.32      347.31   97772222.0
7 1990-01-11    347.31     350.14     347.31      348.53   85772222.0
8 1990-01-12    348.53     348.53     339.49      339.93  102155556.0
9 1990-01-16    337.00     340.75     333.37      340.75  103372222.0

        Date  1 Mo  2 Mo  3 Mo  4 Mo  6 Mo  1 Yr  2 Yr  3 Yr  5 Yr  7 Yr  \
0 1990-01-02   NaN   NaN  7.83   NaN  7.89  7.81  7.87  7.90  7.87  7.98
1 1990-01-03   NaN   NaN  7.89   NaN  7.94  7.85  7.94  7.96  7.92  8.04
2 1990-01-04   NaN   NaN  7.84   NaN  7.90  7.82  7.92  7.93  7.91  8.02
3 1990-01-05   NaN   NaN  7.79   NaN  7.85  7.79  7.90  7.94  7.92  8.03
4 1990-01-08   NaN   NaN  7.79   NaN  7.88  7.81  7.90  7.95  7.92  8.05
5 1990-01-09   NaN   NaN  7.80   NaN  7.82  7.78  7.91  7.94  7.92  8.05
6 1990-01-10   NaN   NaN  7.75   NaN  7.78  7.77  7.91  7.95  7.92  8.00
7 1990-01-11   NaN   NaN  7.80   NaN  7.80  7.77  7.91  7.95  7.94  8.01
8 1990-01-12   NaN   NaN  7.74   NaN  7.81  7.76  7.93  7.98  7.99  8.07
9 1990-01-16   NaN   NaN  7.89   NaN  7.99  7.92  8.10  8.13  8.11  8.18

   10 Yr  20 Yr  30 Yr
0   7.94    NaN   8.00
1   7.99    NaN   8.04
2   7.98    NaN   8.04
3   7.99    NaN   8.06
4   8.02    NaN   8.09
5   8.02    NaN   8.10
6   8.03    NaN   8.11
7   8.04    NaN   8.11
8   8.10    NaN   8.17
9   8.20    NaN   8.25

In [26]:
# Saving merged data to output file
ds_merged.to_csv('merged_data.csv', index=False)