In [1]:
import pandas as pd

In [2]:
# Read data from given file name
def read_datasource(filename):
    src_data = pd.read_csv(filename)
    return src_data 
    
# Merging datasets
def data_merging(dt1, dt2):
    # Date conversion to common date format
    dt1['Data'] = pd.to_datetime(dt1['Data'])  # Assuming 'YYYY-MM-DD' format
    dt2['Date'] = pd.to_datetime(dt2['Date'], format='%m/%d/%y')  # Explicit format
    
    # Merge datasets on date
    merged_dataset = pd.merge(dt1, dt2, left_on='Data', right_on='Date', how='inner')

    return merged_dataset

In [3]:
# Files with data sources:
file_spx500 = 'spx500.csv'
file_yield_curve = 'yield-curve-rates.csv'

In [4]:
# loading files
dt_spx500 = read_datasource(file_spx500)
dt_yieldcrv = read_datasource(file_yield_curve)

In [5]:
# Display the first 3 rows
print("SPX500 Data:")
print(dt_spx500.head(5))

print("\nYield Curve Data:")
print(dt_yieldcrv.head(5))

SPX500 Data:
         Data  Otwarcie  Najwyzszy  Najnizszy  Zamkniecie      Wolumen
0  1990-01-02    353.40     359.69     351.98      359.69   90038889.0
1  1990-01-03    359.69     360.59     357.89      358.76  106850000.0
2  1990-01-04    358.76     358.76     352.89      355.67   98333333.0
3  1990-01-05    355.67     355.67     351.35      352.20   88072222.0
4  1990-01-08    352.20     354.24     350.54      353.79   77838889.0

Yield Curve Data:
       Date  1 Mo  2 Mo  3 Mo  4 Mo  6 Mo  1 Yr  2 Yr  3 Yr  5 Yr  7 Yr  \
0  12/31/24  4.40  4.39  4.37  4.32  4.24  4.16  4.25  4.27  4.38  4.48
1  12/30/24  4.43  4.42  4.37  4.33  4.25  4.17  4.24  4.29  4.37  4.46
2  12/27/24  4.44  4.43  4.31  4.35  4.29  4.20  4.31  4.36  4.45  4.53
3  12/26/24  4.45  4.45  4.35  4.37  4.31  4.23  4.30  4.35  4.42  4.49
4  12/24/24  4.44  4.44  4.40  4.38  4.30  4.24  4.29  4.36  4.43  4.52

   10 Yr  20 Yr  30 Yr
0   4.58   4.86   4.78
1   4.55   4.84   4.77
2   4.62   4.89   4.82
3   4.58   4.83   4.76
4   4.59   4.84   4.76

In [6]:
# merging datasets
ds_merged = data_merging(dt_spx500, dt_yieldcrv)

In [7]:
print("\nMerged dataset:")
print(ds_merged.head(10))

Merged dataset:
        Data  Otwarcie  Najwyzszy  Najnizszy  Zamkniecie      Wolumen  \
0 1990-01-02    353.40     359.69     351.98      359.69   90038889.0
1 1990-01-03    359.69     360.59     357.89      358.76  106850000.0
2 1990-01-04    358.76     358.76     352.89      355.67   98333333.0
3 1990-01-05    355.67     355.67     351.35      352.20   88072222.0
4 1990-01-08    352.20     354.24     350.54      353.79   77838889.0
5 1990-01-09    353.83     354.17     349.61      349.62   86227778.0
6 1990-01-10    349.62     349.62     344.32      347.31   97772222.0
7 1990-01-11    347.31     350.14     347.31      348.53   85772222.0
8 1990-01-12    348.53     348.53     339.49      339.93  102155556.0
9 1990-01-16    337.00     340.75     333.37      340.75  103372222.0

        Date  1 Mo  2 Mo  3 Mo  4 Mo  6 Mo  1 Yr  2 Yr  3 Yr  5 Yr  7 Yr  \
0 1990-01-02   NaN   NaN  7.83   NaN  7.89  7.81  7.87  7.90  7.87  7.98
1 1990-01-03   NaN   NaN  7.89   NaN  7.94  7.85  7.94  7.96  7.92  8.04
2 1990-01-04   NaN   NaN  7.84   NaN  7.90  7.82  7.92  7.93  7.91  8.02
3 1990-01-05   NaN   NaN  7.79   NaN  7.85  7.79  7.90  7.94  7.92  8.03
4 1990-01-08   NaN   NaN  7.79   NaN  7.88  7.81  7.90  7.95  7.92  8.05
5 1990-01-09   NaN   NaN  7.80   NaN  7.82  7.78  7.91  7.94  7.92  8.05
6 1990-01-10   NaN   NaN  7.75   NaN  7.78  7.77  7.91  7.95  7.92  8.00
7 1990-01-11   NaN   NaN  7.80   NaN  7.80  7.77  7.91  7.95  7.94  8.01
8 1990-01-12   NaN   NaN  7.74   NaN  7.81  7.76  7.93  7.98  7.99  8.07
9 1990-01-16   NaN   NaN  7.89   NaN  7.99  7.92  8.10  8.13  8.11  8.18

   10 Yr  20 Yr  30 Yr
0   7.94    NaN   8.00
1   7.99    NaN   8.04
2   7.98    NaN   8.04
3   7.99    NaN   8.06
4   8.02    NaN   8.09
5   8.02    NaN   8.10
6   8.03    NaN   8.11
7   8.04    NaN   8.11
8   8.10    NaN   8.17
9   8.20    NaN   8.25

In [8]:
# Saving merged data to output file
ds_merged.to_csv('merged_data.csv', index=False)

In [9]:
# EXPANSION OF THE DATASET

In [10]:
# Calculating daily price change in %

In [11]:
#loading merged file
dataset_extended = pd.read_csv('merged_data.csv')

In [12]:
dataset_extended['Daily index price Change (%)'] = dataset_extended['Zamkniecie'].pct_change() * 100

In [13]:
print(dataset_extended.head(10))

         Data  Otwarcie  Najwyzszy  Najnizszy  Zamkniecie      Wolumen  \
0  1990-01-02    353.40     359.69     351.98      359.69   90038889.0
1  1990-01-03    359.69     360.59     357.89      358.76  106850000.0
2  1990-01-04    358.76     358.76     352.89      355.67   98333333.0
3  1990-01-05    355.67     355.67     351.35      352.20   88072222.0
4  1990-01-08    352.20     354.24     350.54      353.79   77838889.0
5  1990-01-09    353.83     354.17     349.61      349.62   86227778.0
6  1990-01-10    349.62     349.62     344.32      347.31   97772222.0
7  1990-01-11    347.31     350.14     347.31      348.53   85772222.0
8  1990-01-12    348.53     348.53     339.49      339.93  102155556.0
9  1990-01-16    337.00     340.75     333.37      340.75  103372222.0

         Date  1 Mo  2 Mo  3 Mo  ...  6 Mo  1 Yr  2 Yr  3 Yr  5 Yr  7 Yr  \
0  1990-01-02   NaN   NaN  7.83  ...  7.89  7.81  7.87  7.90  7.87  7.98
1  1990-01-03   NaN   NaN  7.89  ...  7.94  7.85  7.94  7.96  7.92  8.04
2  1990-01-04   NaN   NaN  7.84  ...  7.90  7.82  7.92  7.93  7.91  8.02
3  1990-01-05   NaN   NaN  7.79  ...  7.85  7.79  7.90  7.94  7.92  8.03
4  1990-01-08   NaN   NaN  7.79  ...  7.88  7.81  7.90  7.95  7.92  8.05
5  1990-01-09   NaN   NaN  7.80  ...  7.82  7.78  7.91  7.94  7.92  8.05
6  1990-01-10   NaN   NaN  7.75  ...  7.78  7.77  7.91  7.95  7.92  8.00
7  1990-01-11   NaN   NaN  7.80  ...  7.80  7.77  7.91  7.95  7.94  8.01
8  1990-01-12   NaN   NaN  7.74  ...  7.81  7.76  7.93  7.98  7.99  8.07
9  1990-01-16   NaN   NaN  7.89  ...  7.99  7.92  8.10  8.13  8.11  8.18

   10 Yr  20 Yr  30 Yr  Daily index price Change (%)
0   7.94    NaN   8.00                           NaN
1   7.99    NaN   8.04                     -0.258556
2   7.98    NaN   8.04                     -0.861300
3   7.99    NaN   8.06                     -0.975623
4   8.02    NaN   8.09                      0.451448
5   8.02    NaN   8.10                     -1.178665
6   8.03    NaN   8.11                     -0.660717
7   8.04    NaN   8.11                      0.351271
8   8.10    NaN   8.17                     -2.467506
9   8.20    NaN   8.25                      0.241226

[10 rows x 21 columns]

In [14]:
# Calculating basic stock indicators

In [15]:
# Stochastic - STS

In [16]:
df = dataset_extended
df["Data"] = pd.to_datetime(df["Data"])

# Obliczenie oscylatora stochastycznego (%K) tylko na podstawie cen zamknięcia
okres = 14  # Możesz zmienić okres według potrzeb
df["Lowest_Close"] = df["Zamkniecie"].rolling(window=okres).min()
df["Highest_Close"] = df["Zamkniecie"].rolling(window=okres).max()
df["STS"] = 100 * (df["Zamkniecie"] - df["Lowest_Close"]) / (df["Highest_Close"] - df["Lowest_Close"])

# Usunięcie pomocniczych kolumn
df.drop(columns=["Lowest_Close", "Highest_Close"], inplace=True)

# Wyświetlenie wyników
print(df)

           Data  Otwarcie  Najwyzszy  Najnizszy  Zamkniecie       Wolumen  \
0    1990-01-02    353.40     359.69     351.98      359.69  9.003889e+07
1    1990-01-03    359.69     360.59     357.89      358.76  1.068500e+08
2    1990-01-04    358.76     358.76     352.89      355.67  9.833333e+07
3    1990-01-05    355.67     355.67     351.35      352.20  8.807222e+07
4    1990-01-08    352.20     354.24     350.54      353.79  7.783889e+07
...         ...       ...        ...        ...         ...           ...
8740 2024-12-24   5984.63    6040.10    5981.44     6040.04  1.133217e+09
8741 2024-12-26   6024.97    6049.75    6007.37     6037.59  1.506251e+09
8742 2024-12-27   6006.17    6006.17    5932.95     5970.84  1.817798e+09
8743 2024-12-30   5920.67    5940.79    5869.16     5906.94  1.943393e+09
8744 2024-12-31   5919.74    5929.74    5868.86     5881.63  1.796607e+09

            Date  1 Mo  2 Mo  3 Mo  ...  1 Yr  2 Yr  3 Yr  5 Yr  7 Yr  10 Yr  \
0     1990-01-02   NaN   NaN  7.83  ...  7.81  7.87  7.90  7.87  7.98   7.94
1     1990-01-03   NaN   NaN  7.89  ...  7.85  7.94  7.96  7.92  8.04   7.99
2     1990-01-04   NaN   NaN  7.84  ...  7.82  7.92  7.93  7.91  8.02   7.98
3     1990-01-05   NaN   NaN  7.79  ...  7.79  7.90  7.94  7.92  8.03   7.99
4     1990-01-08   NaN   NaN  7.79  ...  7.81  7.90  7.95  7.92  8.05   8.02
...          ...   ...   ...   ...  ...   ...   ...   ...   ...   ...    ...
8740  2024-12-24  4.44  4.44  4.40  ...  4.24  4.29  4.36  4.43  4.52   4.59
8741  2024-12-26  4.45  4.45  4.35  ...  4.23  4.30  4.35  4.42  4.49   4.58
8742  2024-12-27  4.44  4.43  4.31  ...  4.20  4.31  4.36  4.45  4.53   4.62
8743  2024-12-30  4.43  4.42  4.37  ...  4.17  4.24  4.29  4.37  4.46   4.55
8744  2024-12-31  4.40  4.39  4.37  ...  4.16  4.25  4.27  4.38  4.48   4.58

      20 Yr  30 Yr  Daily index price Change (%)        STS
0       NaN   8.00                           NaN        NaN
1       NaN   8.04                     -0.258556        NaN
2       NaN   8.04                     -0.861300        NaN
3       NaN   8.06                     -0.975623        NaN
4       NaN   8.09                      0.451448        NaN
...     ...    ...                           ...        ...
8740   4.84   4.76                      1.104272  77.494511
8741   4.83   4.76                     -0.040563  76.396792
8742   4.89   4.82                     -1.105574  47.791442
8743   4.84   4.77                     -1.070201  18.359357
8744   4.86   4.78                     -0.428479   6.701672

[8745 rows x 22 columns]

In [17]:
# Moving Average Convergence Divergence - MACD

In [18]:
krótka_srednia = 12  # Szybka EMA
długa_srednia = 26   # Wolna EMA
sygnal_srednia = 9   # Linia sygnałowa

df["EMA_12"] = df["Zamkniecie"].ewm(span=krótka_srednia, adjust=False).mean()
df["EMA_26"] = df["Zamkniecie"].ewm(span=długa_srednia, adjust=False).mean()
df["MACD"] = df["EMA_12"] - df["EMA_26"]
df["MACD_Signal"] = df["MACD"].ewm(span=sygnal_srednia, adjust=False).mean()

# Usunięcie pomocniczych kolumn
df.drop(columns=["EMA_12", "EMA_26"], inplace=True)

# Wyświetlenie wyników
print(df)

           Data  Otwarcie  Najwyzszy  Najnizszy  Zamkniecie       Wolumen  \
0    1990-01-02    353.40     359.69     351.98      359.69  9.003889e+07
1    1990-01-03    359.69     360.59     357.89      358.76  1.068500e+08
2    1990-01-04    358.76     358.76     352.89      355.67  9.833333e+07
3    1990-01-05    355.67     355.67     351.35      352.20  8.807222e+07
4    1990-01-08    352.20     354.24     350.54      353.79  7.783889e+07
...         ...       ...        ...        ...         ...           ...
8740 2024-12-24   5984.63    6040.10    5981.44     6040.04  1.133217e+09
8741 2024-12-26   6024.97    6049.75    6007.37     6037.59  1.506251e+09
8742 2024-12-27   6006.17    6006.17    5932.95     5970.84  1.817798e+09
8743 2024-12-30   5920.67    5940.79    5869.16     5906.94  1.943393e+09
8744 2024-12-31   5919.74    5929.74    5868.86     5881.63  1.796607e+09

            Date  1 Mo  2 Mo  3 Mo  ...  3 Yr  5 Yr  7 Yr  10 Yr  20 Yr  \
0     1990-01-02   NaN   NaN  7.83  ...  7.90  7.87  7.98   7.94    NaN
1     1990-01-03   NaN   NaN  7.89  ...  7.96  7.92  8.04   7.99    NaN
2     1990-01-04   NaN   NaN  7.84  ...  7.93  7.91  8.02   7.98    NaN
3     1990-01-05   NaN   NaN  7.79  ...  7.94  7.92  8.03   7.99    NaN
4     1990-01-08   NaN   NaN  7.79  ...  7.95  7.92  8.05   8.02    NaN
...          ...   ...   ...   ...  ...   ...   ...   ...    ...    ...
8740  2024-12-24  4.44  4.44  4.40  ...  4.36  4.43  4.52   4.59   4.84
8741  2024-12-26  4.45  4.45  4.35  ...  4.35  4.42  4.49   4.58   4.83
8742  2024-12-27  4.44  4.43  4.31  ...  4.36  4.45  4.53   4.62   4.89
8743  2024-12-30  4.43  4.42  4.37  ...  4.29  4.37  4.46   4.55   4.84
8744  2024-12-31  4.40  4.39  4.37  ...  4.27  4.38  4.48   4.58   4.86

      30 Yr  Daily index price Change (%)        STS       MACD  MACD_Signal
0      8.00                           NaN        NaN   0.000000     0.000000
1      8.04                     -0.258556        NaN  -0.074188    -0.014838
2      8.04                     -0.861300        NaN  -0.377963    -0.087463
3      8.06                     -0.975623        NaN  -0.888465    -0.247663
4      8.09                      0.451448        NaN  -1.151468    -0.428424
...     ...                           ...        ...        ...          ...
8740   4.76                      1.104272  77.494511  10.956019    26.175262
8741   4.76                     -0.040563  76.396792  13.666310    23.673472
8742   4.82                     -1.105574  47.791442  10.309230    21.000624
8743   4.77                     -1.070201  18.359357   2.464119    17.293323
8744   4.78                     -0.428479   6.701672  -5.729448    12.688768

[8745 rows x 24 columns]

In [19]:
# Relative Strength Index - RSI

In [20]:
okres = 14  # Standardowy okres dla RSI
df["Zmiana"] = df["Zamkniecie"].diff()
df["Wzrost"] = df["Zmiana"].apply(lambda x: x if x > 0 else 0)
df["Spadek"] = df["Zmiana"].apply(lambda x: -x if x < 0 else 0)

df["Średni_Wzrost"] = df["Wzrost"].rolling(window=okres).mean()
df["Średni_Spadek"] = df["Spadek"].rolling(window=okres).mean()

df["RS"] = df["Średni_Wzrost"] / df["Średni_Spadek"]
df["RSI"] = 100 - (100 / (1 + df["RS"]))

# Usunięcie pomocniczych kolumn
df.drop(columns=["Zmiana", "Wzrost", "Spadek", "Średni_Wzrost", "Średni_Spadek", "RS"], inplace=True)

# Wyświetlenie wyników
print(df)

           Data  Otwarcie  Najwyzszy  Najnizszy  Zamkniecie       Wolumen  \
0    1990-01-02    353.40     359.69     351.98      359.69  9.003889e+07
1    1990-01-03    359.69     360.59     357.89      358.76  1.068500e+08
2    1990-01-04    358.76     358.76     352.89      355.67  9.833333e+07
3    1990-01-05    355.67     355.67     351.35      352.20  8.807222e+07
4    1990-01-08    352.20     354.24     350.54      353.79  7.783889e+07
...         ...       ...        ...        ...         ...           ...
8740 2024-12-24   5984.63    6040.10    5981.44     6040.04  1.133217e+09
8741 2024-12-26   6024.97    6049.75    6007.37     6037.59  1.506251e+09
8742 2024-12-27   6006.17    6006.17    5932.95     5970.84  1.817798e+09
8743 2024-12-30   5920.67    5940.79    5869.16     5906.94  1.943393e+09
8744 2024-12-31   5919.74    5929.74    5868.86     5881.63  1.796607e+09

            Date  1 Mo  2 Mo  3 Mo  ...  5 Yr  7 Yr  10 Yr  20 Yr  30 Yr  \
0     1990-01-02   NaN   NaN  7.83  ...  7.87  7.98   7.94    NaN   8.00
1     1990-01-03   NaN   NaN  7.89  ...  7.92  8.04   7.99    NaN   8.04
2     1990-01-04   NaN   NaN  7.84  ...  7.91  8.02   7.98    NaN   8.04
3     1990-01-05   NaN   NaN  7.79  ...  7.92  8.03   7.99    NaN   8.06
4     1990-01-08   NaN   NaN  7.79  ...  7.92  8.05   8.02    NaN   8.09
...          ...   ...   ...   ...  ...   ...   ...    ...    ...    ...
8740  2024-12-24  4.44  4.44  4.40  ...  4.43  4.52   4.59   4.84   4.76
8741  2024-12-26  4.45  4.45  4.35  ...  4.42  4.49   4.58   4.83   4.76
8742  2024-12-27  4.44  4.43  4.31  ...  4.45  4.53   4.62   4.89   4.82
8743  2024-12-30  4.43  4.42  4.37  ...  4.37  4.46   4.55   4.84   4.77
8744  2024-12-31  4.40  4.39  4.37  ...  4.38  4.48   4.58   4.86   4.78

      Daily index price Change (%)        STS       MACD  MACD_Signal  \
0                              NaN        NaN   0.000000     0.000000
1                        -0.258556        NaN  -0.074188    -0.014838
2                        -0.861300        NaN  -0.377963    -0.087463
3                        -0.975623        NaN  -0.888465    -0.247663
4                         0.451448        NaN  -1.151468    -0.428424
...                            ...        ...        ...          ...
8740                      1.104272  77.494511  10.956019    26.175262
8741                     -0.040563  76.396792  13.666310    23.673472
8742                     -1.105574  47.791442  10.309230    21.000624
8743                     -1.070201  18.359357   2.464119    17.293323
8744                     -0.428479   6.701672  -5.729448    12.688768

            RSI
0           NaN
1           NaN
2           NaN
3           NaN
4           NaN
...         ...
8740  45.905541
8741  46.639799
8742  40.208890
8743  38.535757
8744  38.094572

[8745 rows x 25 columns]

In [21]:
# etykietowanie danych

In [22]:
# Determine if price increased or decreased
df["Label"] = (df["Zamkniecie"].diff() > 0).astype(int)

# Display results
print(df)

           Data  Otwarcie  Najwyzszy  Najnizszy  Zamkniecie       Wolumen  \
0    1990-01-02    353.40     359.69     351.98      359.69  9.003889e+07
1    1990-01-03    359.69     360.59     357.89      358.76  1.068500e+08
2    1990-01-04    358.76     358.76     352.89      355.67  9.833333e+07
3    1990-01-05    355.67     355.67     351.35      352.20  8.807222e+07
4    1990-01-08    352.20     354.24     350.54      353.79  7.783889e+07
...         ...       ...        ...        ...         ...           ...
8740 2024-12-24   5984.63    6040.10    5981.44     6040.04  1.133217e+09
8741 2024-12-26   6024.97    6049.75    6007.37     6037.59  1.506251e+09
8742 2024-12-27   6006.17    6006.17    5932.95     5970.84  1.817798e+09
8743 2024-12-30   5920.67    5940.79    5869.16     5906.94  1.943393e+09
8744 2024-12-31   5919.74    5929.74    5868.86     5881.63  1.796607e+09

            Date  1 Mo  2 Mo  3 Mo  ...  7 Yr  10 Yr  20 Yr  30 Yr  \
0     1990-01-02   NaN   NaN  7.83  ...  7.98   7.94    NaN   8.00
1     1990-01-03   NaN   NaN  7.89  ...  8.04   7.99    NaN   8.04
2     1990-01-04   NaN   NaN  7.84  ...  8.02   7.98    NaN   8.04
3     1990-01-05   NaN   NaN  7.79  ...  8.03   7.99    NaN   8.06
4     1990-01-08   NaN   NaN  7.79  ...  8.05   8.02    NaN   8.09
...          ...   ...   ...   ...  ...   ...    ...    ...    ...
8740  2024-12-24  4.44  4.44  4.40  ...  4.52   4.59   4.84   4.76
8741  2024-12-26  4.45  4.45  4.35  ...  4.49   4.58   4.83   4.76
8742  2024-12-27  4.44  4.43  4.31  ...  4.53   4.62   4.89   4.82
8743  2024-12-30  4.43  4.42  4.37  ...  4.46   4.55   4.84   4.77
8744  2024-12-31  4.40  4.39  4.37  ...  4.48   4.58   4.86   4.78

      Daily index price Change (%)        STS       MACD  MACD_Signal  \
0                              NaN        NaN   0.000000     0.000000
1                        -0.258556        NaN  -0.074188    -0.014838
2                        -0.861300        NaN  -0.377963    -0.087463
3                        -0.975623        NaN  -0.888465    -0.247663
4                         0.451448        NaN  -1.151468    -0.428424
...                            ...        ...        ...          ...
8740                      1.104272  77.494511  10.956019    26.175262
8741                     -0.040563  76.396792  13.666310    23.673472
8742                     -1.105574  47.791442  10.309230    21.000624
8743                     -1.070201  18.359357   2.464119    17.293323
8744                     -0.428479   6.701672  -5.729448    12.688768

            RSI  Label
0           NaN      0
1           NaN      0
2           NaN      0
3           NaN      0
4           NaN      1
...         ...    ...
8740  45.905541      1
8741  46.639799      0
8742  40.208890      0
8743  38.535757      0
8744  38.094572      0

[8745 rows x 26 columns]

In [23]:
# Saving EXTENDED data to output file
df.to_csv('final_dataset.csv', index=False)